# Virtuelle Umgebung
.venv/
venv/
env/

# PyCharm Einstellungen
.idea/

# Python Cache
__pycache__/
*.pyc

# Mac Systemdateien
.DS_Store

# Lokale Konfiguration (wird vom Programm generiert)
binClockSettings.json